*{
	box-sizing: border-box;
}
body{
	font-size: 14px;
}
h1{
	color:red;
	text-align: center;
	font-size:150%;
}
.box
{   float:left;
	background-color: orange;
	border: 1px solid black;
	margin: 5px 10px 15px 10px;
}
.box-heading {
	float: right;
	position: relative;
	right: -1px;
	top: -1px;
	min-width: 130px;
	text-align: center;
	margin: 0px;
	margin-bottom: 10px;
	border: 1px solid black;
	padding: 5px;
	color: yellow;
	font-size: 125%;
	background-color: grey;
}
.box-content {
	clear: right;
	height: 300px;
	text-align: justify;
	width: 95%;	
	padding-right: 5%;	
	margin-right: 0px;
	margin-left: auto;
	margin-top:10px;
	color: black;
	overflow: auto;
	
}


.p{
	border: 1px solid black;
}
.row {
	width:100%;
}

.col-sm-6{
		float:left;
		width:50%;
		}
	.col-sm-12{
		float: left;
		width:100%;
		}

@media(min-width: 992px)
{  
	.col-lg-4{
		float: left;
		width:33.33%;	
	}
	.col-lg-6{
		float: left;
		width:50%;	
	}
    .col-lg-12{
    	float: left;
		width:100%;	
	}
}
}
@media(min-width:768px)and(max-width:991px)
{
	.col-sm-6{
		float:left;
		width:50%;
		
		}
	.col-sm-12{
		float: left;
		width:100%;
		}	
}
@media(max-width: 767px)
{
	.col-xs-12{
		float: left;
		width:100%;
	}
}